
<h1> Show </h1>

<%=@item.title%>
<%= image_tag(@item.image) if @item.image.attached? %>
<%=@item.category.name%>


<% if user_signed_in? %>
  <% if @item.user_id == current_user.id %>
    <%= link_to "Edit", edit_items_path(@item)%>
     <%= link_to 'Delete', @item, method: :delete, data: { confirm: 'Are you sure?' } %>
     <%end%>
<%end%>


<%= form_with model: @comment, url: create_comment_path, local: true, method: "post" do |form| %>

    <%= form.label :"Enter your comment here"%>
    <%= form.text_field :text_field %>
    
    <%= form.hidden_field :item_id, :value => @item.id %>
    <%= submit_tag "submit" %>

  
<% end %>





<%= form_with model: @order_item, url: create_order_items_path, local: true, method: "post" do |form| %>
   
  <%= form.hidden_field :item_id, :value => @item.id%>
    <%= form.number_field :quantity, :value => 1, :min =>  1%>
    <%= form.hidden_field :user_id, :value => current_user.id%>
     <%= form.submit "Add to Cart "%>
      <% end %>

 <%= link_to "#{current_order.order_items.size} items with a value of #{current_order.subtotal }$", cards_path%>

<br>




<br>
<br>






<% if user_signed_in? && current_user.id != @item.user_id %>
      <%= link_to "Message #{@item.user.email}", conversations_path(sender_id: current_user.id, recipient_id: @item.user.id), method: 'post', class:"button is-link" %>
    <% elsif user_signed_in? && current_user.id == @item.user_id  %>
      <%= link_to "Conversations", conversations_path %>
    <% else %>

    <%= link_to "Sign up to message #{@item.user.email}", new_user_registration_path %>
    <% end %>





<h3> Comments </h3>
<% @comments.each do |comment| %>
    <% if comment.item_id == @item.id %>
     <ul class ="comment-list">
        <li> <%= User.find(comment.user_id).email %> </li>
    
       <li> <%= comment.text_field %> </li>
       <li> <%= comment.created_at %> </li>
    </ul>
    <% end %> 
<% end %>




