
<h1> Show </h1>

<%=@item.title%>
<%=@item.category.name%>

<% if user_signed_in? %>
  <% if @item.user_id == current_user.id %>
    <%= link_to "Edit", edit_items_path(@item)%>
     <%= link_to 'Delete', @item, method: :delete, data: { confirm: 'Are you sure?' } %>
     <%end%>
<%end%>


<%= form_with model: @comment, url: create_comment_path, local: true, method: "post" do |form| %>

    <%= form.label :"Enter your comment here"%>
    <%= form.text_field :text_field %>
    
    <%= form.hidden_field :item_id, :value => @item.id %>
    <%= submit_tag "submit" %>

<% end %>
<h3> Comments </h3>
<% @comments.each do |comment| %>
    <% if comment.item_id == @item.id %>
     <ul class ="comment-list">
        <li> <%= User.find(comment.user_id).email %> </li>
    
       <li> <%= comment.text_field %> </li>
       <li> <%= comment.created_at %> </li>
    </ul>
    <% end %> 
<% end %>