<!DOCTYPE html>
<html>
  <head>
    <title>Greatdeal</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <li><%= link_to "view all", items_path%></li>
      <ul>
       
          <% if user_signed_in? %>
             <li><%=link_to "Sign out", destroy_user_session_path, method: :delete  %></li>
          <%else %>
              <li><%= link_to "Sign In",new_user_session_path %></li>
          <% end %>
        </ul>
         <ul>
          <% if user_signed_in? %>
          <li><%= link_to "Lets get started", items_path %></li>
          <% end %>
        </ul>
     </ul>
  </nav>
  <p class="notice"><%= notice %></p>
   <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>



